<!DOCTYPE html>
<html >
<meta charset="UTF-8">

<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</header>
<body>
<div class="web">
<div class="header">
  <div class="nav">
    <nav class="navbar navbar-expand-sm navbar-dark" style="width: 100%; background-color: #ff9f3b">
      <!-- Brand -->
      <a class="navbar-brand" href="#">VIVU</a>

      <!-- Links -->
      <ul class="navbar-nav" style="margin-left: 285px;padding: 5px;color: #ffffff">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trangchu']">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tintuc']">Tin Tức </a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"
             [routerLink]="['/danhsachtour']">
            Tour
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tour1</a>
            <a class="dropdown-item" href="#">Tour2</a>
            <a class="dropdown-item" href="#">Tour3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kinhnghiem']">Phản Hồi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lienhe']">Liên Hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-phone-volume"></i> 0927007791</a>
        </li>
        <li class="nav-item" style="margin-left: 140px">
          <a class="nav-link"><i class="fas fa-user"></i> User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-sign-in-alt"></i>Log-in</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
  <div class="container"  >
    <div class="col-12 " >
<!--      <p class="text-primary">Trang chủ  / tour-du-lich / {{product.name}}</p>-->
      <p style="margin-left: -25px">Trang chủ / tour-du-lich /<span class="text-primary">{{detailTour.title}}</span></p>
    </div>
    <div class="row">
      <div  style="background-color: white ; width: 64%">
        <h2 style="margin-bottom: 20px">{{detailTour.title}}</h2>
        <img src="{{detailTour.imagetour}}" style="width: 100%; height: 450px">
        <div>
          <h2 class="text-primary title_bg">Chương trình Tour</h2>
          <p>{{detailTour.conten_body}}</p>
        </div>
        <img src="{{detailTour.imagetour}}" style="width: 100%; height: 450px;margin-bottom: 30px">
        <div *ngFor="let items of schedule.sch">
          <h4>{{items.title_date}}</h4>
          <p>{{items.content_morning}}</p>
          <p>{{items.content_noon}}</p>
          <p>{{items.content_afternoon}}</p>
          <p>{{items.content_night}}</p>
        </div>
        <div>
          <h2 class="text-primary title_bg">Chính sách Tour</h2>
          <div>
            <h5 class="text-center"> GIÁ TOUR TRỌN GÓI CHO 01 KHÁCH : .000 VNĐ/ KHÁCH</h5>
            <h6 class="font-italic text-center">( Giá tour có thể thay đổi theo thời gian khởi hành cụ thể )</h6>
          </div>
          <div>
            <table class="table">
              <thead>
              <tr>
                <th>Tiêu chuẩn</th>
                <th> Số tiền</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>3 sao</td>
                <td> {{detailTour.price}}VND (Giá gốc)</td>
              </tr>
              <tr>
                <td>4 sao</td>
                <td> {{detailTour.price +20000}}VND</td>
              </tr>
              <tr>
                <td>5 sao</td>
                <td> {{detailTour.price+350000}}VND</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <h5 class="text-danger">Lưu ý :</h5>
            <div *ngFor="let note of dataNote"><p>{{note.content}}</p></div>
          </div>
        </div>
        <div>
          <h2 class="text-primary title_bg">Điều khoản & Dịch vụ</h2>
          <div >
            <h4>Chi phí bao gồm :</h4>
            <div *ngFor="let items of dataRules">
              <p >
                {{items.content}}
              </p>
            </div>
            <h4>Chính sách hủy :</h4>
            <div *ngFor="let items of dataCancel">
              <p >
                {{items.content}}
              </p>
            </div>

          </div>
        </div>
        <div style="padding-bottom: 40px">
          <h2 class="text-primary title_bg"> Đặt Tour</h2>
          <div>
            <table class="table">
              <thead>
              <tr>
                <th>Loại khách</th>
                <th>Số người</th>
                <th>Đơn giá</th>
                <th>Tổng giá</th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td>Người lớn ( >= 14 tuổi)</td>
                <td><input (click)="subtraction_lon()" type="button" value="-"/>
                  <label>{{detailTour.quantity}}</label>
                  <input (click)="summation_lon()" type="button" value="+"/>
                </td>
                <td>{{detailTour.price}}VND</td>
                <td>{{detailTour.price*detailTour.quantity}} VND</td>
              </tr>
              <tr >
                <td>Trẻ em ( < 14 tuổi)</td>
                <td><input (click)="subtraction_nho()"   type="button" value="-"/>
                  <label>{{detailTour.quantity2}}</label>
                  <input (click)="summation_nho()"  type="button" value="+"/>
                </td>
                <td>{{detailTour.price*0.75}}VND</td>
                <td>{{detailTour.price*0.75*detailTour.quantity2}} VND</td>

              </tr>

              </tbody>
            </table>
            <div class="row">
              <div class="col-7"></div>
              <div class="col-5">
                <h5 style="float: left;margin-right: 10px;color: red">Tổng tiền :</h5>
                <h5 >{{totalmoney()}} VND</h5>
              </div>

            </div>
            <hr>
            <div class="row"  style="margin-top: 23px">
              <div class="col-6"><label style="float: left;margin-left: 10px;margin-right: 10px">Ngày khởi hành :</label><input id="date1" [(ngModel)]="date"  type="date" class="form-control" style="width: 170px"></div>
              <div class="col-5"><button style="width: 160px;height: 40px;" class="btn btn-warning" (click)="viewOrderTour(detailTour.id,date)">Đặt Tour </button></div>
            </div>
          </div>

        </div>
      </div>
      <div id="scoll-right-from"  style="background-color: white ;margin-left: 57%;width: 28%;height: 600px;position: absolute">
        <div style="position: absolute;top:12px">
          <div>
          <h4> 3N2Đ HÀ NỘI - ĐÀ LẠT - HÀ NỘI</h4>
          <h4 class="text-danger">Giá mới : <span style="color: #ee2207">{{detailTour.price}} VND</span></h4>
          <div>
            <table class="table">
              <tbody>
              <tr><td><span class="right-text-format" >Hành trình : </span> <span class="text-warning text-warning-right"> Lịch và phương tiện di chuyển</span></td></tr>
              <tr><td><i class='fa fa-plane' style="font-size: 25px;margin-right: 8px"></i><span  class="right-text-format" >Di chuyển : </span> <span class="text-warning text-warning-right">Máy bay</span></td></tr>
              <tr><td><i class='far fa-calendar-alt' style="font-size: 25px;margin-right: 8px"></i><span  class="right-text-format" >Lịch khởi hành : </span> <span class="text-warning text-warning-right"> Theo yêu cầu</span></td></tr>
              <tr><td><i class='far fa-clock' style="font-size: 25px;margin-right: 8px"></i><span  class="right-text-format" >Thời gian : </span> <span class="text-warning text-warning-right">3 ngày 2 đêm</span></td></tr>
              </tbody>
            </table>
          </div>
          <div>
            <h4>Công Ty du lịch VietTravel Tourist</h4>
            <p>VPGD TPHCM:12,Võ văn Ngân,Bình Thọ,Thủ Đức,TP.HCM.</p>
            <p>VPGD HN:23,Đinh Tiên Hoàng,p.9, Cầu Giấy,Hà Nội</p>
            <p>Hotline :  098765432</p>
            <div class="row">
              <div class="col-5">
                <button style="width: 150px;margin-left: 20px;" class="btn btn-primary">Đặt Tour</button>
              </div>
              <div class="col-5">
                <button  style="width: 150px;margin-left: 20px;" class="btn btn-primary">Liên hệ</button>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 100%;height: 300px;margin-top: 46px">
          <div class="title_right"><a class="menu-right" href="#">Chương trình Tour</a></div>
          <div class="title_right"><a class="menu-right" href="#">Chính sách Tour</a></div>
          <div class="title_right"><a class="menu-right" href="#">Điều khoản & dịch vụ </a></div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container"  style="background-color: white ; margin-top: 20px;margin-bottom: 40px">
    <div >
      <h3 class="text-center" style="font-size: 33px;margin-bottom: 3%;">Các Tour tương tự</h3>
    </div>
    <div class="row">
      <div class="col-3 tour-mg " *ngFor="let items of dataTour
                       | paginate: {
                       itemsPerPage: tableSize,
                       currentPage: page,
                       totalItems: count
                       };
                       let i = index" [class.active]="i == 1">
        <div class="bor-tour" >
          <img class="image-tour" src="{{items.imagetour}}" >
          <a class="title_tour_box" >{{items.title}} <3</a>
          <div>
            <ul class="ct_course_list">
              <li class="clearfix"><i class='far fa-calendar-alt'></i>Lịch khởi hành: <span style="color: orange">Theo yêu cầu</span></li>
              <li class="clearfix"><i class='far fa-clock' ></i>Thời gian: <span style="color: orange">3 ngày 2 đêm</span></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-6"><h6 class="price-tour" >{{items.price}}VND</h6></div>
            <!--              <div class="col-6"><button class="btn btn-warning" [routerLink]="['/product',item.id]">Xem Tour</button></div>-->
            <button class="btn btn-warning"(click)="viewDetailsTour(items.id)">Xem Tour</button>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" style="margin-bottom: 30px;margin-left: 527px;" [routerLink]="['/danhsachtour']">Xem Tất cả</button>
      </div>
    </div>
  </div>
  <div class="container"  style="background-color: white ; margin-top: 20px;margin-bottom: 40px">
    <label class="text-primary">Nhận xét </label>
    <textarea class="form-control" cols="150" rows="5" ></textarea>
    <button class="btn btn-primary" style="padding: 3px 12px; margin-top: 4px">Gửi</button>
  </div>
  <footer class="page-footer font-small stylish-color-dark pt-4"
           style="color: #ffffff;background-color: black">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <div class="left_footer">
          <div class="logo_footer" style="font-size:30px ">VIVO</div>
          <div class="rightContent_footer" style="font-size: 15px;width: 254px">Địa chỉ: Số 123 Trần Hưng Đạo,
            Quận 1, Thành Phố Hồ Chí Minh
            Email: khanhnguyen7221@gmail.com
            Điện thoại: 0927007791
          </div>
          <div class="logo_social"></div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Nam</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Tiền Giang - Bến Tre</a>
          </li>
          <li>
            <a href="#">Vĩnh Long - Trà Vinh</a>
          </li>
          <li>
            <a href="#">Kiên Giang - Phúc Quốc</a>
          </li>

        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Trung</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Bình Thuận - Mũi Né</a>
          </li>
          <li>
            <a href="#!">Đà Lạt - Nha Trang</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Bắc</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Hà Giang-Yên Bái</a>
          </li>
          <li>
            <a href="#!">Hạ Long-Quảng Ninh</a>
          </li>
          <li>
            <a href="#!">Mai Châu - Mộc Châu</a>
          </li>
          <li>
            <a href="#!">Cao Bằng - Bắc Kạn</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nước Ngoài</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Châu Á</a>
          </li>
          <li>
            <a href="#!">Châu Mỹ</a>
          </li>
          <li>
            <a href="#!">Châu Âu</a>
          </li>
          <li>
            <a href="#!">Châu Phi</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center"
      style="width: 100%;position: absolute;background-color: black">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>

</footer>
</div>
<script>

</script>
</body>
</html>

