<!DOCTYPE html>
<html lang="en">

<header>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</header>
<body>
<div class="container">
  <form class="form-login">
    <h3 class="title-login">Đăng Ký</h3>
    <label class="user-text">Tài khoản :
      <i class="fas fa-user"></i>
      <input class="form-control" name="username" [(ngModel)]="username">
    </label>
    <label class="password-text">Mật khẩu :
      <i class="fas fa-unlock"></i>
      <input class="form-control" name="passwoed" [(ngModel)]="password">
    </label>
    <label class="password-text-reset">Nhập lại mật khẩu :
      <i class="fas fa-unlock"></i>
      <input class="form-control" name="repassword" [(ngModel)]="repassword">
    </label>
    <input class="btn-warning" type="submit" value="Đăng ký" (click)="rgister(username,password,repassword)">
    <div class="register-title">
      <label class="title-ask">Bạn đã có tài khoản?</label>
      <span><a class="register-link" [routerLink]="['/login']">Đăng nhập</a></span>
    </div>
  </form>
</div>
</body>
</html>
