body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #c6c9cb;
}
.nav-item{
  margin-left: 15px;
}

.Theme {

  background-image: url("../../../assets/img/hinh-anh-vinh-ha-long-21.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}
.Search {
  position: absolute;
  margin-top: 200px;
  background: #ff9f3b;
  margin-left: 50px;
  height: 50px;
  width: 350px;
  border-radius: 13px;
}

.Content {
  font-size: 30px;
  text-align: center;
  height: 50px;
}
.container_Branch{
  width: 100%;
  height: 220px;

}
.Content_branch{
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;

}
.image_branch{
  margin-left: 50px;
  margin-top: -10px;

}

.bg-secondary text-white text-center{
  width: 50px;
}
.target{
  position: relative;
  height: 170px;
  background-color: #ff910f;
  width: 1227px;
  margin-left: 10.5%;
}
.title_target{
  margin-left: 20px;
  margin-top: 33px;
  position: absolute;
  width: 353px;
  height: 27px;
  font-size: 24px;
}
.content_target{
  margin-left: 20px;
  margin-top: 90px;
  position: absolute;
  width: 391px;
  height: 64px;
  font-size: 22px;
}
.image_target{
  margin-left: 562px;
  position: absolute;
  width: 150px;
  height: 100%;
}
.image_target_1{
  margin-left: 800px;
  position: absolute;
  width: 150px;
  height: 100%;
}
.image_target_2{
  margin-left: 1010px;
  position: absolute;
  width: 150px;
  height: 100%;
}
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1230px;
  }


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
