body {
  font-family: 'Ubuntu', sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255)
}
.fab fa-facebook-f{
  font-size: 15px;
}
.web{
  background-color: #e2ecf1 ;
}
.nav-item {
  margin-left: 15px;
}
