.nav-item{
  margin-left: 15px;
}

.Theme {

  background-image: url("../../../assets/img/hinh-anh-vinh-ha-long-21.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.Search {
  position: absolute;
  margin-top: 200px;
  background: #ff9f3b;
  margin-left: 50px;
  height: 50px;
  width: 350px;
  border-radius: 13px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255)
}
.web{
  background-color: #e2ecf1 ;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
