<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Thanh Toán</title>

  <style>
    .title_bg{
      background-color: aquamarine;
      border-left: 4px solid blue;
    }
    li{
      list-style: none;
    }
    li i{
      float: left;
      font-size: 25px;
      margin-right: 7px;
    }
  </style>
</head>
<body>
<div style="background-color: aquamarine;height: 200px"><h1 class="text-center">header</h1></div>
<div class="container-ful">
  <div class="container">
    <div class="col-12 "  >
      <p class="" style="float: left">Trang chủ /Tour /</p><p class="text-primary font-weight-bold">Thanh Toán</p>
    </div>
    <div class="row">
      <div class="col-8">
        <div>
          <h2 class="title_bg">Thanh toán</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="radio">
            <label>Thanh toán tại văn phòng</label>
          </div>
          <div class="col-6">
            <input type="radio">
            <label>Chuyển khoản </label>
          </div>

        </div>
        <div style="width: 100%;height: 200px;margin-top: 20px">
          <div>
            <div class="row">
              <div class="col-2"><img src="../img/thdn.jpg" width="100px" height="70px"></div>
              <div class="col-9">
                <p class="font-italic">Số 79,đường Đỗ Xuân Hợp,phường Phước Long B, Quận 9, Thành Phố Hồ Chí Minh.</p>
                <p style="margin-top: -10px">Phone : 034.3772.034</p>
              </div>
              <div class="col-2"><img src="../img/thdn.jpg" width="100px" height="70px"></div>
              <div class="col-9">
                <p class="font-italic">Số 79,đường Đỗ Xuân Hợp,phường Phước Long B, Quận 9, Thành Phố Hồ Chí Minh.</p>
                <p style="margin-top: -10px">Phone : 034.3772.034</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="title_bg">Thông tin liên hệ</h2>
        </div>
        <div style="margin-bottom: 100px">
          <form>
            <div class="row">
              <div class="col-6">
                <label>Họ và tên</label>
                <input class="form-control">
              </div>
              <div class="col-6">
                <label>Điện thoại</label>
                <input class="form-control">
              </div>
              <div class="col-6">
                <label>Email</label>
                <input class="form-control">
              </div>
              <div class="col-6">
                <label>Địa chỉ</label>
                <input class="form-control">
              </div>
              <div class="col-12">
                <label>Yêu cầu khác</label>
                <textarea  class="form-control" rows="4"></textarea>
              </div>
              <div class="col-12">
                <button style="margin-top: 25px" type="button" class="btn btn-primary">Hoàn tất đặt tour</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-4" style="background-color: #2b2b7b;height: 440px;">
        <div><img style="margin-left: -14px" src="../img/thdn.jpg" width="379px" height="200px"></div>
        <div>
          <h4 class="text-left text-warning">Tour du lịch khám phá thành phố Đà nẵng</h4>
        </div>
        <div>
          <li><i  class="fa fa-car" style="font-size: 25px"></i><p style="float: left" class="text-warning">Số lượng khách :</p><p class="text-warning">1</p></li>
          <li><i class="fa fa-plane" style="font-size: 25px"></i><p class="text-warning">Phương tiện máy bay</p></li>
          <li><i class="fa fa-calendar" style="font-size: 25px"></i><p class="text-warning">3 ngày 2 đêm</p></li>
          <li><i class="fa fa-calendar"  style="font-size: 25px"></i><p class="text-warning" style="float: left; margin-right: 10px">Khởi hành : </p><p class="text-warning">24/08/2021</p></li>
        </div>
        <div style="background-color: orange;width: 379px;margin-left: -14px;height: 60px"><h3 style="float: left;margin-left: 26px;margin-top: 10px" class="text-dark" >Tổng tiền:</h3><h3 style="margin-top: 10px;float: right;margin-right: 20px">4.500.000 VND</h3></div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: aquamarine;height: 200px"><h1 class="text-center">Footer</h1></div>

</body>
</html>
