<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Chi tiết tin tức</title>

  <style>
    .tin-tuc-moi {
      margin-bottom: 10px;
    }

    .fn-size-lable {
      font-size: 20px;
    }
    .clickNews{
      background-color: white;
      margin-bottom: 10px;
      border: 2px solid white;
    }

  </style>
</head>
<body>
<div class="header">
  <div class="nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width: 100%">
      <!-- Brand -->
      <a class="navbar-brand" href="#">VIVU</a>

      <!-- Links -->
      <ul class="navbar-nav" style="margin-left: 200px;padding: 5px">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/trangchu']">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tintuc']">Tin Tức </a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"
             [routerLink]="['/danhsachtour']">
            Tour
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tour1</a>
            <a class="dropdown-item" href="#">Tour2</a>
            <a class="dropdown-item" href="#">Tour3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kinhnghiem']">Kinh Nghiệm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lienhe']">Liên Hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-phone-volume"></i> 0927007791</a>
        </li>
        <li class="nav-item" style="margin-left: 140px">
          <a class="nav-link"><i class="fas fa-user"></i> User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-sign-in-alt"></i>Log-in</a>
        </li>

      </ul>
    </nav>

    <div class="Theme" style="height: 300px ;position: relative;width: 100%">
      <h3 class="tour" style="color: #6978ff;margin-left: 55px;margin-top: 150px;position: absolute">Đặt Tour Nhanh
        Chóng</h3>
      <div class="Search">
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" style="margin: 5px 0px;margin-left: 16px" type="text"
                 placeholder="Search">
          <button class="btn btn-success" type="submit" routerLink="/tour">Search</button>
        </form>

      </div>
    </div>
  </div>

</div>

<div class="container-ful">
  <div>
    <div class="container">
      <div class="col-12 ">
        <p class="" style="float: left">Trang chủ / Tin Tức /</p>
        <p class="text-primary font-weight-bold"> {{ detail.name}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div>
          <label class="font-weight-bold text-left fn-size-lable"> {{ detail.name}}</label>
          <p>{{detail.conten_head}}</p>
        </div>
        <div>
          <img height="370px" src="{{detail.imageUrl}}" width="100%">
        </div>
        <div style="margin-top: 30px">
          <div>
            {{detail.conten_body}}
          </div>
        </div>
        <div class="container" style="background-color: white ; margin-top: 20px;margin-bottom: 40px">
          <label class="text-primary">Nhận xét </label>
          <textarea class="form-control" cols="150" rows="3"></textarea>
        </div>
      </div>
      <div class="col-4">
        <div><h2>BÀI VIẾT MỚI NHẤT</h2></div>
        <div class="row">
          <div class="col-12">
            <div class="row tin-tuc-moi" *ngFor="let new of NewsList
                        | paginate: {
                           itemsPerPage: tableSize,
                           currentPage: page,
                           totalItems: count
                           };
                           let i = index" [class.active]="i == 1">
              <div class="btnsame" style="display: flex;width: 380px">
                <button class="clickNews" (click)="viewDetails(new.id)">
                  <div class="row">
                  <div class="col-4">
                    <img height="60px" src="{{new.imageUrl}}" width="100px">
                  </div>
                  <div class="col-7" style="position: relative"><span style="text-align: justify">{{new.name}}</span>
                    <!--                <a [routerLink]="['/tintuc',item.id]">{{item.name}}...</a>-->
                  </div>
                  </div>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer font-small stylish-color-dark pt-4"
        style="color: #ffffff;background-color: black">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <div class="left_footer">
          <div class="logo_footer" style="font-size:30px ">VIVO</div>
          <div class="rightContent_footer" style="font-size: 15px;width: 254px">Địa chỉ: Số 123 Trần Hưng Đạo,
            Quận 1, Thành Phố Hồ Chí Minh
            Email: khanhnguyen7221@gmail.com
            Điện thoại: 0927007791
          </div>
          <div class="logo_social"></div>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Nam</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Tiền Giang - Bến Tre</a>
          </li>
          <li>
            <a href="#">Vĩnh Long - Trà Vinh</a>
          </li>
          <li>
            <a href="#">Kiên Giang - Phúc Quốc</a>
          </li>

        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Trung</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Bình Thuận - Mũi Né</a>
          </li>
          <li>
            <a href="#!">Đà Lạt - Nha Trang</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Miền Bắc</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Hà Giang-Yên Bái</a>
          </li>
          <li>
            <a href="#!">Hạ Long-Quảng Ninh</a>
          </li>
          <li>
            <a href="#!">Mai Châu - Mộc Châu</a>
          </li>
          <li>
            <a href="#!">Cao Bằng - Bắc Kạn</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nước Ngoài</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Châu Á</a>
          </li>
          <li>
            <a href="#!">Châu Mỹ</a>
          </li>
          <li>
            <a href="#!">Châu Âu</a>
          </li>
          <li>
            <a href="#!">Châu Phi</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center"
      style="width: 1227px;position: absolute;background-color: black">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>

</footer>
</body>
</html>

