<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tour</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    label:hover{
      color: blue;
    }
    .tour-mg{
      margin-bottom: 20px;

    }
    .bor-tour{
      border: 1px solid #dedbdb;
      padding-bottom: 10px;

    }
    .bor-tour:hover{
      position: absolute;
      margin-top: -10px;
      margin-bottom: 20px;
    }
    h6{
      color: orange;
    }
    img{
      border-radius: 3px;
    }
  </style>

</head>
<body>
<div style="background-color: aquamarine;height: 200px"><h1 class="text-center">header</h1></div>
<div class="container-ful">
  <div>
    <div class="container">
      <div class="col-12 "  >
        <p class="" style="float: left">Trang chủ /</p><p class="text-primary font-weight-bold">Danh Sách Tour</p>
      </div>
    </div>
    <div >
      <img src="../img/du-lich-768x491.jpg" width="100%" height="350px">
    </div>

    <div class=" container" style="margin-bottom: 100px;margin-top: 40px" >

      <div class="row">
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
        <div class="col-3 tour-mg">
          <div class="bor-tour">
            <img src="../img/thdn.jpg" width="100%" height="160px">
            <h5>3N2Đ Hà Nội - ĐN- Hà Nội</h5>
            <div class="row">
              <div class="col-6"><h6>2.350.000VND</h6></div>
              <div class="col-6"><button class="btn btn-warning">Xem Tour</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div style="background-color: aquamarine;height: 200px"><h1 class="text-center">Footer</h1></div>
</body>
</html>

