body {
  font-family: 'Ubuntu', sans-serif;
}

ul.nav.navbar-nav {
  margin-left: 201px;
  padding: 7px;
}

.fas fa-phone-volume {
  color: #fff;
}

.Theme {
  position: relative;
  margin-top: -22px;
  height: 289px;
  background-image: url("../img/hinh-anh-vinh-ha-long-21.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}

.tour {
  color: #6978ff;
  position: absolute;
  margin-top: 162px;
  margin-left: 58px;
}

.Search {
  position: absolute;
  margin-top: 213px;
  background: #ff9f3b;
  margin-left: 57px;
}

.Content {
  font-size: 30px;
  text-align: center;
  height: 50px;
}
.container_Branch{
  width: 100%;
  height: 220px;

}
.Content_branch{
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;

}
.image_branch{
  margin-left: 50px;
  margin-top: -10px;

}

.bg-secondary text-white text-center{
  width: 50px;
}
.target{
  position: relative;
  height: 170px;
  background-color: #ff910f;
}
.title_target{
  margin-left: 20px;
  margin-top: 33px;
  position: absolute;
  width: 353px;
  height: 27px;
  font-size: 24px;
}
.content_target{
  margin-left: 20px;
  margin-top: 90px;
  position: absolute;
  width: 391px;
  height: 64px;
  font-size: 22px;
}
.image_target{
  margin-left: 562px;
  position: absolute;
  width: 150px;
  height: 100%;
}
.image_target_1{
  margin-left: 800px;
  position: absolute;
  width: 150px;
  height: 100%;
}
.image_target_2{
  margin-left: 1010px;
  position: absolute;
  width: 150px;
  height: 100%;
}
footer{
  height: 200px;
  color: #ffffff;
}
.container_footer{
  display: flex;
  flex-direction: row;
  background: #272a27;
}
.left_footer{
  width: 40%;
  height: 200px;
  font-size: 20px;
}
.logo_footer{
  font-size: 40px;
}
.right_footer{
  width: 60%;
  height: 200px;
}
.col-lg-3.col-md-6.mb-4.mb-md-0 {
  margin-top: 10px;
}
.text-uppercase{
  margin-left: 5px;
}
.text-dark{
  margin-bottom: 5px;
}
